body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Einfacher-Textrahmen {
	border-style:solid;
}
p.Einf--Abs- {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Hyperlink {
	color:#4f5cd6;
	text-decoration:underline;
}
p.ParaOverride-1 {
	text-align:center;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:"Assistant ExtraLight", sans-serif;
	font-size:8px;
	font-variation-settings:"wght" 400;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:"Hiragino Kaku Gothic Pro W3", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-3 {
	font-family:"Assistant ExtraLight", sans-serif;
	font-size:10px;
	font-variation-settings:"wght" 400;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"Assistant ExtraLight", sans-serif;
	font-size:10px;
	font-variation-settings:"wght" 700;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"Assistant ExtraLight", sans-serif;
	font-size:8px;
	font-variation-settings:"wght" 700;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"Assistant ExtraLight", sans-serif;
	font-size:18px;
	font-variation-settings:"wght" 400;
}
span.CharOverride-7 {
	color:#ffffff;
	font-family:"Assistant ExtraLight", sans-serif;
	font-size:10px;
	font-variation-settings:"wght" 400;
}
span.CharOverride-8 {
	color:#ffffff;
	font-family:"Assistant ExtraLight", sans-serif;
	font-size:9px;
	font-variation-settings:"wght" 700;
}
span.CharOverride-9 {
	color:#ffffff;
	font-family:"Assistant ExtraLight", sans-serif;
	font-size:9px;
	font-variation-settings:"wght" 400;
}
#_idContainer000 {
	display:inline-block;
	height:1001px;
	width:595px;
}
#_idContainer004 {
	display:inline-block;
	height:175px;
	width:372px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
